[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-image = "*"
scipy = "*"
numpy = "*"
opencv-python = "*"
natsort = "*"
pydicom = "*"
keras = "*"
tensorflow = "*"
pydot = "*"

[dev-packages]

[requires]
python_version = "3.9"
